# Configurações do Backup PostgreSQL
SET BACKUP_DIR=.\postgres-backups
SET LOG_DIR=.\postgres-backups\logs
SET POSTGRES_USER=voucher
SET POSTGRES_PASSWORD=Postgres*voucher
SET DATABASE=sis_voucher
SET CONTAINER_NAME=bd_voucher
SET RETENTION_DAYS=90
SET BACKUP_TIME=04:00
SET TIMEZONE=America/Sao_Paulo